.one{
	color:red;font-size:1.486rem;text-align: center;
	margin-top:0.9rem;
}
.two{
	font-size: 1.053rem;
    width: 3.733rem;
    color: #fff;
    margin-left: 12.146rem;
    margin-top: -11.35rem;
}
.qiang{
	border-radius: 0.0266rem;
    background: orangered;
    color: #fff;
    width: 3.1rem;
    height: 2.4rem;
    margin-left: 12.306rem;
    margin-top: 2.013rem;
    text-align: center;
    line-height: 2.4rem;
}
.bt{
	color: #ccc;
    font-size: 1.153rem;
    margin-top: 0.366rem;
    margin-left: 0.266rem;
}
.two1{
	font-size: 1.053rem;
    width: 3.733rem;
    color: #fff;
    margin-left: 12.146rem;
    margin-top: -11.35rem;
}
.qiang1{
	border-radius: 0.0266rem;
    background: orangered;
    color: #fff;
    width: 3.1rem;
    height: 2.4rem;
    margin-left: 12.306rem;
    margin-top: 3.013rem;
    text-align: center;
    line-height: 2.4rem;
}
.bt1{
	color: #ccc;
    font-size: 1.153rem;
    margin-top: 0.666rem;
    margin-left: 0.266rem;
}
.two2{
	font-size: 1.053rem;
    width: 3.733rem;
    color: #fff;
    margin-left: 12.146rem;
    margin-top: -11.35rem;
}
.qiang2{
	border-radius: 0.0266rem;
    background: orangered;
    color: #fff;
    width: 3.1rem;
    height: 2.4rem;
    margin-left: 12.306rem;
    margin-top: 4.613rem;
    text-align: center;
    line-height: 2.4rem;
}
.pic{
	width: 5.666rem;
    height: 5.666rem;
    margin-left: 1.533rem;
}
.nr{
	font-weight:600;font-size:1.233rem;    margin-left: 3.26rem;
}
.xz{
	color:#999;font-size:0.953rem;    margin-left: 1.9rem;
}
.pic1{
	width: 5.666rem;
    height: 5.666rem;
    margin-left: 1.533rem;
}
.nr1{
	font-weight:600;font-size:1.233rem;    margin-left: 2.9rem;
}
.xz1{
	color:#999;font-size:0.953rem;    margin-left: 2.5rem;
}
.pic2{
	width: 5.666rem;
    height: 5.666rem;
    margin-left: 1.533rem;
}
.nr2{
	font-weight:600;font-size:1.233rem;    margin-left: 2.96rem;
}
.xz2{
	color:#999;font-size:0.953rem;    margin-left: 2.5rem;
}
.pic3{
	    display: block;
    margin-top: -29.64rem;
    width: 5.666rem;
    height: 5.666rem;
    margin-left: 16.533rem;
}
.nr3{
	font-weight:600;font-size:1.233rem;   margin-left: 17.26rem;
}
.xz3{
	color:#999;font-size:0.953rem;    margin-left: 17.2rem;
}
.pic4{
	
	width: 5.666rem;
    height: 5.666rem;
    margin-left: 16.533rem;
}
.nr4{
	font-weight:600;font-size:1.233rem;    margin-left: 17.26rem;
}
.xz4{
	color:#999;font-size:0.953rem;    margin-left:17.2rem;
}
.pic5{
	
	width: 5.666rem;
    height: 5.666rem;
    margin-left: 16.533rem;
}
.nr5{
	font-weight:600;font-size:1.233rem;    margin-left: 17.26rem;
}
.xz5{
	color:#999;font-size:0.953rem;    margin-left: 17.4rem;
}