*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	position: absolute;
	text-decoration: none;
    height:0.533rem;
    line-height:0.533rem;
    top:0.533rem;
    left:0.473rem;
    font-size:0.426rem;
}
    
.header{
	position: relative;
	width: 100%;
	height: 1.573rem;
	background: orangered;
}
.addr{
	color: #fff;
	
}
input[type="text"]{
	position: absolute;
	width: 5.866rem;
	height: 0.826rem;
	line-height:0.8rem;
	text-align: center;
	border-radius: 0.933rem;
	left:2.4rem;
	top:0.346rem;
	font-size:0.373rem;
}
.bord{
	height:0.266rem;
}
.bord1{
	height:0.34rem;
}
.bord, body{
	background-color: #f0f0f0;
}
.hy{
	position: relative;
	background: #fff;
	height: 1.813rem;top: 0.08rem;
}
.qn{
	position:absolute;
	font-size:0.48rem;    top: 0.533rem;
    left: 0.32rem;
}
.fyq{
	position:absolute;
	font-size:0.373rem;
	color:#ccc;margin-left: 6.773rem;
    top: 0.613rem;
}
.left{
	position:absolute;
	font-size: 0.586rem;
    color: #ccc;
    margin-left: 9.44rem;
    margin-top: 0.453rem;
}
.ad1{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.hc{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top: 0.64rem;
    left:0.266rem;
}
.ch{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left: 0.266rem;

}
.pic1{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.ad2{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.cd{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top: 0.64rem;
    left: 0.266rem;
}
.sy{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left: 0.266rem;

}
.pic2{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.ad3{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.fm{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top: 0.64rem;
    left: 0.266rem;
}
.bc{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left: 0.266rem;

}
.pic3{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.ad4{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.cc{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top: 0.64rem;
    left: 0.266rem;
}
.sy1{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left: 0.266rem;

}
.pic4{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.ad5{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.tx{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top: 0.64rem;
    left: 0.266rem;
}
.br{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left: 0.266rem;

}
.pic5{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.mid{
	background: #fff;
	height:3.546rem;
}
.dcx{
	font-size:0.533rem;
	font-weight: 700;color:orangered;
	margin-left:0.266rem;
}
.px{
	width:100%;margin-top: 0.0266rem;
}
.ad6{
	position:relative;
	height:3.546rem;
	background:#fff;margin-top: 5.013rem;
}
.ms{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top:0.64rem;
    left: 0.266rem;
}
.jd{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left: 0.266rem;

}
.pic6{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.ad7{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.lx{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top: 0.64rem;
    left: 0.266rem;
}
.lt{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left: 0.266rem;

}
.pic7{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.ad8{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.cs{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top: 0.64rem;
    left: 0.266rem;
}
.xj{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left: 0.266rem;

}
.pic8{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.ad9{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.zj{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top: 0.64rem;
    left: 0.266rem;
}
.chw{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left: 0.266rem;

}
.pic9{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.ad10{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.xw{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top: 0.64rem;
    left: 0.266rem;
}
.rr{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left: 0.266rem;

}
.pic10{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    top: 0.506rem;left: 6.96rem;
}
.ad11{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.xb{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top: 0.64rem;
    left: 0.266rem;
}
.jz{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left:0.266rem;

}
.pic11{
	position: absolute;
	width: 2.613rem;
    height:2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.mid1{
	background: #fff;
	hwight:3.546rem;
}
.dcx1{
	font-size:0.533rem;
	font-weight: 700;color:orangered;
	margin-left: 0.266rem;
}
.px1{
	width:100%;margin-top: 0.293rem;
}
.ad12{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.xb1{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top:0.64rem;
    left: 0.266rem;
}
.jz1{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top:2.613rem;
    left: 0.266rem;

}
.pic12{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.ad13{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.xb2{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top: 0.64rem;
    left: 0.266rem;
}
.jz2{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left: 0.266rem;

}
.pic13{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.ad14{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.xb3{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top: 0.64rem;
    left: 0.266rem;
}
.jz3{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left: 0.266rem;

}
.pic14{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.ad15{
	position:relative;
	height:3.546rem;
	background:#fff;
}
.xb4{
	position: absolute;
	font-size:0.426rem;font-weight: 500;
	width: 5.733rem;top: 0.64rem;
    left: 0.266rem;
}
.jz4{
	position: absolute;
	font-size:0.346rem;color:#ccc;
	top: 2.613rem;
    left: 0.266rem;

}
.pic15{
	position: absolute;
	width: 2.613rem;
    height: 2.613rem;
    left: 6.96rem;
    top: 0.48rem;
}
.kxa{
	height:2.4rem;
}
